<h1 class="em-bottom">customer fq data</h1>
<p>name: <%= @name %></p>
<p>email: <%= @email %></p>
<p>quiz results: <%= @quiz_results %></p>
<p>bust: <%= @bust %></p>
<p>length: <%= @length %></p>
<p>waist: <%= @waist %></p>